* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 100px;
    /*outline: 1px solid gainsboro;*/
}

/*Set a gradient*/

body {
    background: linear-gradient(135deg, rgba(246,248,249,1) 9%,rgba(246,248,249,1) 9%,rgba(215,222,227,1) 28%,rgba(229,235,238,1) 43%,rgba(245,247,249,1) 74%,rgba(245,247,249,1) 75%);
    background-repeat: repeat;
    height: 100vh;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
header {
    border-bottom: 2px solid #acacac;
}
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.logo span {
    display: block;
    font-weight: 400;
}
/*Logo Web Developer*/
svg {
    /*background: lightyellow;*/
    transition: .8s;
    padding: 1px;
}
svg:hover {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    transition: .5s;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

h1 {
    color: #040404;
}
.menu ul {
    display: flex;
}
.menu ul li {
    margin-left: 6px;
}
.menu ul li a {
    color: #040404;
    font-size: 18px;
    font-weight: 400;
    line-height: 18.45px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: .3s;
}
.menu ul li:hover a {
    background-color: rgba(183, 183, 183, 0.58);
}

/*section Main*/
main {
    padding: 50px 0;
}
.photo img {
    width: 332px;
    transition: .6s;
}
.photo img:hover {
    transform: scale(1.02);
    filter: grayscale(90%);
}
.info {
    margin-top: 15px;
}
.info p {

    color: #040404;
    font-size: 17px;
    font-weight: 700;
    display: inline-block;
    margin-right: 15px;
}
.info p span {
    color: #040404;
    font-size: 16px;
    font-weight: 400;
    margin-left: 2px;
    transition: .3s;
    display: inline-block;
}
.info p:last-child span {
    margin-left: 2px;
}
.info p span a {
    color: #040404;
    transition: .3s;
}
.info p span:hover a {
    color: rgba(4, 4, 4, 0.62);
}
.info p i {
    font-size: 15px;
}
.info p:hover i {
    color: #566AFF;
    transition: .3s;
}
/*Footer*/

footer {
    /*padding-bottom: 55px;*/
    font-size: 16px;
    font-weight: 400;
    border-top: 2px solid #acacac;
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #685959;

}
footer p:not(.copyright) {
    padding: 5px;
}
footer p:hover:not(.copyright) {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    transition: .5s;
    cursor: pointer;
}
.copyright span {
    color: #6243ff;
}
.licence {
    margin-top: 5px;
}
.licence span {
    color: #2C2626;
    font-weight: 500;
}


