* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 100px;
    /*outline: 1px solid gainsboro;*/
}

/*Set a gradient*/

body {
    background: linear-gradient(135deg, rgba(246,248,249,1) 9%,rgba(246,248,249,1) 9%,rgba(215,222,227,1) 28%,rgba(229,235,238,1) 43%,rgba(245,247,249,1) 74%,rgba(245,247,249,1) 75%);
    background-repeat: repeat;
    height: 100vh;
}

/*>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<*/
header {
    border-bottom: 2px solid #acacac;
}
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.logo span {
    display: block;
    font-weight: 400;
}
/*Logo Web Developer*/
svg {
    /*background: lightyellow;*/
    padding: 1px;
    transition: .3s;
}
svg:hover {
    filter: blur(1.5px);
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

h1 {
    color: #040404;
}
.menu ul {
    display: flex;
}
.menu ul li {
    margin-left: 6px;
}
.menu ul li a {
    color: #040404;
    font-size: 18px;
    font-weight: 400;
    line-height: 18.45px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: .3s;
}
.menu ul li:hover a {
    background-color: rgba(183, 183, 183, 0.58);
}

/*section Main*/
main {
    padding: 50px 0;
}
.study {
    padding: 30px 0;
}
main h2 {
    margin-bottom: 7px;
    color: #2A2424;
}
main p {
    margin-bottom: 12px;
    font-size: 17px;
    color: #181515;
}
main p:first-letter {
    /*color: #1f81d1;*/
    color: rgba(31, 129, 209, 0.85);
    font-weight: 600;
    font-size: 19px;
    text-shadow: 3px 1px rgba(31, 129, 209, 0.51);
}
.main__text p:nth-child(4) span {
    font-style: italic;
    font-weight: 600;
}
.photo {
    float:left;
    margin-right: 15px;
}
.photo img {
    width: 332px;
    transition: .6s;
}
.photo img:hover {
    /*transform: scale(1.02);*/
    filter: grayscale(90%);
}
.info {
    margin-top: 15px;
}
.info p {

    color: #2C2626;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    margin-right: 15px;
}
.info p span {
    color: #2C2626;
    font-size: 16px;
    font-weight: 400;
    margin-left: 2px;
    transition: .3s;
    display: inline-block;
}
.info p:last-child span {
    margin-left: 2px;
}
.info p span a {
    color: #040404;
    transition: .3s;
}
.info p span:hover a {
    color: rgba(4, 4, 4, 0.62);
}
.info p i {
    font-size: 15px;
}
.info p:hover i {
    color: #11b4ff;
    transition: .3s;
}
.main__text {

}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*Footer*/

footer {
    /*padding-bottom: 55px;*/
    font-size: 16px;
    font-weight: 400;
    border-top: 2px solid #acacac;
    display: flex;
    min-height: 15%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #685959;
    transition: .5s;
    position: relative;

}
.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

}
.footer p:not(.copyright) {
    padding: 5px;
}
.footer p:hover:not(.copyright) {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    transition: .5s;
    cursor: pointer;
}
.copyright span {
    color: #11b4ff;
}
.licence {
    margin-top: 5px;
}
.licence span {
    color: #2C2626;
    font-weight: 500;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>    study.html        <<<<<<<<<*/

.study__block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*position: relative;*/
}
.study__block__items {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    position: relative;
}
.study__block__items:hover .study__block__wrap,
.study__block__items:hover .study__btn{
    background-color: #E98D79;
}
.study__item__1__title {
    text-align: center;
    color: #fff;
    font-size: 22px;
    padding-bottom: 15px;
}
.study__item_1:first-child {
    margin-left: 0;
}
.study__block__wrap {
    background: #85a3b1;
    width: 100%;
    padding: 30px 5px 70px;
    transition: .3s;
}
.study__item_1__img {
    text-align: center;
    margin: 5px auto;
    padding: 25px;
    border: 7px solid rgba(222, 216, 217, 0.4);
    background: rgba(222, 184, 135, 0.87);
    width: 135px;
    height: 135px;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 32.5%;
}
.study__item_1__img:hover img {
    transform: rotate(180deg);
}
.study__item_1__img img {
    width: 70px;
    transition: .5s ease-out;
}
.study__item__1__text {
    background: #dfe7f2;
    padding: 75px 25px 3px;
}
.study__item__1__text span {
    font-weight: 600;
}
.study__btn {
    display: block;
    margin: 10px auto 0;
    padding: 8px 15px;
    border: none;
    background: #85a3b1;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: .3s;
}
.study__btn:hover {
    box-shadow: 0 0 4px 4px #cfcfcf;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>    Work   <<<<<<<<<<<<<<<<<<<*/

.work__text, .hobbi__text, .study__text {
    text-align: center;
    font-size: 28px;
    color: coral;
    text-shadow: 3px 1px 2px #e9af94;
}